{% extends "layout.html" %}

{% block title %}
    Register Page
{% endblock title %}

{% block content %}
<div class="container">
    <h1>Fill the form to Register</h1>
    <div class="form-control">
        <form  method="post" class="form-text">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>
</div>
{% endblock content %}