{% extends "layout.html" %}
{% block title %}About Us{% endblock %}

{% block content %}
<h1>About pahe </h1>
<p>We are a leading e-commerce platform dedicated to providing the best online shopping experience. Our mission is to connect customers with high-quality products and exceptional service.</p>
<p>Founded in 2020, we have quickly grown to become a trusted name in the industry. Our team is passionate about innovation and customer satisfaction, ensuring that every interaction with our platform is seamless and enjoyable.</p>
<p>We offer a wide range of products across various categories, including electronics, fashion, home
goods, and more. Our commitment to quality means that we carefully curate our offerings to ensure that customers receive only the best.</p>
<p>Customer service is at the heart of what we do. Our dedicated support team is available to assist with any inquiries, ensuring that your shopping experience is smooth and hassle-free.</p>
<p>Thank you for choosing us as your preferred online shopping destination. We look forward to serving you and helping you find exactly what you need.</p>
{% endblock %}